.messenger {
    display: flex;
    height: 100vh;
    flex: 1;
    height: calc(100vh - 80px);
}

.sidebar {
    border-right: 1px solid #ddd;
    width: 25%;
    height: 100%;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
    height: 100%;
}

.sidebar ul li {
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.sidebar ul li:hover {
    background-color: #ddd;
    border-radius: 12px;
}

.sidebar ul li:active {
    background-color: #bbb;
    border-radius: 12px;
}

.profile_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.send-icons {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.icons_chat {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.input-with-icon {
    flex-grow: 1;
    display: flex;
    width: 80%;
}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    overflow-y: auto;
    flex-grow: 1;
}

.send-message {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
    margin-left: 5px;
}

.send-message input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 10px;
}

.chatheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid black;
}

.chat-header-icons {
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px;
}


.amisinput {
    border: none;
    border-bottom: solid 1px black;
    padding: 10px;
    width: 100%;
}

.amisinput_div {
    padding: 0px 10px;
}

.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 100%;
    padding: 10px;
}

.message {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message-sent {
    align-self: flex-end;
    background-color: #0077B6;
    color: #fff;
}

.message-received {
    align-self: flex-start;
    background-color: #004f79;
    color: #fff;
}

.Submitbutton {
    padding: 10px 15px;
    align-self: auto;
}

.chat_send {
    display: none;
}

.chat_arrow_back_name {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.chat_return {
    display: none;
}

@media only screen and (max-width: 1024px) {

    .chat_return {
        display: block;
    }

    .sidebar {
        width: 100%;
        overflow: auto;
    }

    .chat {
        width: 100%;
        overflow-y: auto;
    }

    .icons_chat {
        gap: 0;
    }

    .messages {
        max-width: 100%;
        max-height: 100%;
    }

    .input-with-icon {
        width: 100%;
    }

    .chat {
        height: 100vh;
        display: none;
    }

    .sidebar {
        display: block;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .messenger {
        flex-direction: column;
    }

    .Submitbutton {
        display: none;
    }

    .chat_send {
        display: inline;
    }

    .icons_chat_sub {
        display: flex;
        flex-direction: column;
    }

    .chatheader {
        padding: 5px 10px;
        gap: 5px;
    }

    .profile_pic {
        width: 32px;
        height: 32px;
    }
}