.messenger {
    display: flex;
    /* height: 82vh; */
    /* height: calc(100vh - (var(--header-height) + var(--header-border-width))); */
}

.sidebar {
    border-right: 1px solid #ddd;
    width: 30%;
    height: 100%;
    overflow-y: auto;
}

.sidebar #iconsidebar {
    margin-right: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    padding: 10px 5px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}


.chat {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.send-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 2px;
    border-top: 2px solid #ccc;
    padding: 10px 0px;
}

.chat-header-icons {
    display: flex;
    justify-content: end;
}

.icon {
    width: 20px;
    height: 20px;
}


.input-with-icon {
    flex-grow: 1;
    display: flex;
    position: relative;
    width: 80%;
}

.input-with-icon input {
    padding-right: 30px;
    width: 100%;
}

.input-with-icon .material-icons-outlined {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}


.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-bottom: 1px solid #ddd;
    height: 100%;
    justify-content: flex-end;
}


.send-message {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.send-message input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 10px;
}

.chat_send_button {
    padding: 10px 20px;
    background-color: #009FF5;
    border: none;
}

.chatheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid black;
}

.chat-header-icons {
    padding-right: 25px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.profile-info img {
    margin-right: 10px;
}

.amisinput {
    border: none;
    border-bottom: solid 1px black;
    padding: 10px;
    width: 100%;
}

.titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 100%;
    padding: 10px;
}

.message {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message-sent {
    align-self: flex-end;
    background-color: #0077B6;
    color: #fff;
}

.message-received {
    align-self: flex-start;
    background-color: #004f79;
    color: #fff;
}


.amisinput_div {
    padding: 0px 10px;
}

.chat_list_messages{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 10px;
}