/* about-us.php */

.about_us_text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

/* contact-us.php */

.contact_main {
    margin-bottom: 100px;
}

.contact_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(../img/blue-texture-marble.png);
    width: 100%;
}

.contact_h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;
    color: var(--bgcolor);
}

.contact_text {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    max-width: 755px;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.contact_sub_text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.aligned-list {
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.expand_more,
.expand_more:visited {
    color: #0077B6;
}

.expand_more:hover {
    color: #009FF5;
}

.expand_more:active {
    color: #00507A;
}

@media (max-width: 1024px) {

    .contact_text {
        padding: 0px 20px;
    }

    .contact_h1 {
        font-size: 42px;
        text-align: center;
        padding: 10px;
    }
}