.friends_list_side_bar {
    background-color: var(--bgcolor2);
    padding: 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.friends_list_main {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.friends_list_container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.group_settings_fil_arianne {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: flex-end;
}

.group_settings_fil_arianne p,
.group_settings_fil_arianne p {
    font-size: 10px;
    color: #888;
}

.name {
    font-weight: 700;
}





.container {
    padding: 20px 10px;
    background-color: var(--bgcolor2);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    gap: 10px;
    width: 100%;
}

.invitation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bgcolor);;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.invitation_pp_div>img {
    width: 40px;
    height: 40px;
}

.invitation_pp_div {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.invitation_pp_name {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.accept {
    text-align: center;
    padding: 10px 15px;
    background-color: #0077B6;
    border-radius: 12px;
    border: 1px solid #0077B6;
    color: white;
    cursor: pointer;
    user-select: none;
}

.reject {
    text-align: center;
    padding: 10px 15px;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #0077B6;
    color: #0077B6;
    cursor: pointer;
    user-select: none;
}

.friends_list_mobile{
    display: none;
}

@media screen and (max-width: 1024px) {

    .friends_list_side_bar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        gap: 15px;
        overflow-x: auto;
    }

    .group_settings_fil_arianne {
        display: none;
    }

    .friends_list_title {
        display: none;
    }

    .friends_list_container {
        flex-direction: column;
    }

    .friends_list_main {
        padding: 20px;
    }

    .friends_list_icons {
        display: none;
    }

    .friends_list_mobile{
        display: inline;
    }

    .invitation{
        flex-direction: column;
        gap: 20px;
    }

}