.index_main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.index_route {
    border-right: 1px solid black;
    background-color: var(--bgcolor2);
    border-right: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    min-width: 250px;
}

.index_list_friends {
    display: flex;
    flex-direction: column;
    background-color: var(--bgcolor2);
    border-left: 1px solid #ccc;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    row-gap: 10px;
    min-width: 250px;
}

.rr {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    gap: 10px;
    transition: ease-in-out 0.3s;
}

.rr:hover {
    background-color: var(--bgcolor);
}

.rr:active {
    background-color: #aaa;
}

.rr img {
    width: 40px;
    height: 40px;
}

.index_list_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.index_list_publications {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 20px;
}

@media (max-width: 1024px) {

    .index_route {
        display: none;
    }

    .index_list_friends {
        display: none;
    }

    .index_list_publications {
        width: 100%;
        margin: 20px 0px;
    }

    .index_main_container {
        width: 100%;
        padding: 10px;
    }
}

.index_menuopen {
    background-color: #eee;
    color: #000;
    border-radius: 12px;
    padding: 10px;
    display: none;
    position: fixed;
    z-index: 999;
    list-style-type: none;
    flex-direction: column;
    gap: 5px;
    bottom: 60px;
    right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.index_menuopen a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}

.index_menuopen a:hover{
    background-color: white;
}

.index_menuopen a:active{
    background-color: #ccc;
}

#index_menuburger {
    display: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #ccc;
    position: fixed;
    padding: 7px;
    bottom: 10px;
    right: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#index_menuburger:hover {
    opacity: 0.7;
  }

@media only screen and (max-width: 1024px) {

    #index_menuburger {
        display: block;
    }
}