.login_signup_supercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    background-color: var(--bgcolor);
}

.login_signup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    border-radius: 12px;
    border: 1px solid black;
    padding: 100px;
}

.login_signup {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    border-radius: 12px;
    row-gap: 0;
}

.radiobox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2% 0;
    margin: 20px 0;
}

.role {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.inputText {
    background-color: inherit;
    width: 100%;
    border: none;
    outline: none;
}

.inputText::placeholder {
    font-family: "Inter";
}

@media (max-width: 1024px) {

    /* login.php */

    .login_signup_container {
        border: 0px solid black;
        padding: 50px;
    }

    /* signup.php */

    .radiobox {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 10px;
    }
}