
#nb-friends {
    margin: 10px 0;
}

.banner {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url(./img/blue-texture-marble.png);
    position: relative;
    width: 100%;
    height: 290px;
    margin-bottom: 70px;
}

.banner-img {
    width: 100%;
    height: 290px;
    user-select: none;
}

.banner .Submitbutton {
    position: absolute;
    right: 0;
    top: 220px;
    margin-right: 10px;
}

.banner .profile-info {
    position: absolute;
    bottom: -25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
}

.banner .page_info {
    position: absolute;
    bottom: -25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 50px;
}

.banner .profile-img {
    width: 150px;
    height: 150px;
    user-select: none;
}

.profile-nom-prenom {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.summary {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.summarybutton {
    background-color: white;
    border: none;
    outline: none;
    color: black;
}

.box-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
}

.box-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 20px;

}

.user-info {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.logo-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.box_photos {
    border: 1px black solid;
    border-radius: 12px;
    padding: 20px;
    background-color: var(--bgcolor2);
}

.box_photos_friend_picture, .box_photos_picture {
    width: 100%;
    user-select: none;
    border-radius: 12px;
}

.box_friends {
    border: 1px black solid;
    border-radius: 12px;
    padding: 20px;
    background-color: var(--bgcolor2);
}

.box_info {
    border: 1px black solid;
    border-radius: 12px;
    padding: 20px;
    background-color: var(--bgcolor2);
}

.box_left {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    width: 30%;
}

.box_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    margin: 50px;
    max-width: 1920px;
}

.list_publications {
    border-radius: 12px;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.box_aboutus {
    flex-direction: column;
    justify-content: center;
    column-gap: 50px;
    margin: 50px;
    border: 1px black solid;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1920px;
}

.box_aboutus_info {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
}

.box_aboutus_edits {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.box_summary_friends {
    flex-direction: column;
    justify-content: center;
    column-gap: 50px;
    margin: 50px;
    border: 1px black solid;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1920px;
}

.box_friends_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 40px;
}

.box_friends_friend {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}

.box_friends_friend_pp,
.box_friends_friend_pp {
    height: 100%;
    border-radius: 12px;
}

.box_friends_name {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.box_friends_pp_name {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    height: 115px;
}

.box_friends_research {
    border: none;
    background-color: inherit;
    border-bottom: solid 1px black;
    padding: 10px;
}

.box_friends_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
}

.box_summary_photos {
    flex-direction: column;
    justify-content: center;
    column-gap: 50px;
    margin: 50px;
    border: 1px black solid;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1920px;
}

.box_photos_all {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
}

.summary-content {
    display: none;
}

.summary-content-flex {
    display: flex;
}


.box_return {
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    column-gap: 10px;
    width: fit-content;
}

@media (max-width: 1024px) {

    .box_main {
        flex-direction: column;
        margin: 10px;
        margin-bottom: 20px;
        row-gap: 20px;
    }

    .box_left {
        width: 100%;
        row-gap: 20px;
    }

    .summary {
        display: none;
    }

    .list_publications {
        width: 100%;
    }

    .banner .profile-info {
        flex-direction: column;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -55%;
        margin: 0;
    }

    .banner .page_info {
        flex-direction: column;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -50%;
        margin: 0;
    }

    .profile-nom-prenom {
        align-items: center;
    }

    .Submitbutton {
        margin: 0px;
        padding: 10px 15px;
    }

    .banner .Submitbutton {
        right: 5px;
        top: 5px;
        margin-right: 0px;
    }

    .box_aboutus {
        margin: 10px;
        margin-bottom: 20px;
    }

    .box_summary_friends {
        margin: 10px;
        margin-bottom: 20px;
    }

    .box_friends_info {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }

    .box_friends_title {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 10px;
    }

    .box_friends_research {
        width: 100%;
    }

    .box_summary_photos {
        margin: 10px;
        margin-bottom: 20px;
    }

    .box_photos_all {
        flex-direction: column;
    }

    .box_photos_photo {
        width: 100%;
    }

}