.search_page_container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.search_page_sidebar {
    background-color: var(--bgcolor2);
    border-right: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    min-width: 250px;
}

.search_page_result {
    margin: 50px auto;
    width: 755px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.search_page_persons {
    background-color: var(--bgcolor2);
    border-radius: 12px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.person {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
}

.person:hover {
    background-color: white;
}

.person:active {
    background-color: #aaa;
}

.photo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.person-info {
    width: 100%;
}

.name {
    font-weight: bold;
}

.research_button {
    white-space: nowrap;
    background-color: #009FF5;
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px #009FF5 solid;
    cursor: pointer;
    user-select: none;
    color: white;
}

.research_button:hover {
    background-color: white;
    color: #009FF5;
}

.research_button:active {
    background-color: #00507A;
    color: white;
    border-color: #00507A;
}

.search_button_div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.search_pp_name {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.settings_category {
    padding: 5px 0px;
}

.active {
    color: #009FF5;
}

.search_input_div{
    display: none;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

.search_input{
    background-color: inherit;
    border: none;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 1024px) {

    .search_input_div{
        display: block;
    }

    .search_page_container {
        flex-direction: column;
    }

    .search_page_sidebar h3 {
        display: none;
    }

    .search_page_sidebar {
        flex-direction: row;
        overflow-x: auto;
        padding: 10px;
        justify-content: space-between;
        gap: 5px;
        border-right: 0px solid #ccc;
        border-bottom: 1px solid #ccc;

    }

    .search_page_result {
        width: 100%;
    }

    .search_button_div {
        flex-direction: row;
        align-self: flex-end;
        padding: 10px;
    }

    .person {
        flex-direction: column;
        align-items: flex-start;
    }

    .material-icons {
        display: none;
    }

    .search_page_persons {
        margin: 0px 20px;
    }

}
