/*   @media(prefers-color-scheme: dark)
{
    
    :root {
        --bgcolor: #333;
        --color: #FAFAFA;
        --bgcolor2: #2b2b2b;
    }
}
@media(prefers-color-scheme: light)
{
    :root {
        --bgcolor: #FAFAFA;
        --color: #333;
        --bgcolor2: #f8f8f8;
    }
} */
body {
    background: var(--bgcolor);
    color: var(--color);
}


:root {
    --bgcolor: #333;
    --color: #FAFAFA;
    --bgcolor2: #2b2b2b;
    --color2: #f8f8f8;
}

.light-theme {
   /*  background-color: var(--color);
    color: var(--bgcolor);
    color: var(--color2); */
    --bgcolor: #FAFAFA;
    --color: #333;
    --bgcolor2: #e6e2e2;
    --color2: #2b2b2b;
}


 